@model WebLaundry.Models.Order
@{
	ViewBag.Title = "Órden";
}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	<div class="container">
	<form method="post">
		<div asp-validation-summary="ModelOnly"></div><br />
		
		<div class="master">
			<h2>@ViewBag.Title</h2>
			<table class="table table-responsive">
	
				<tr>
					@*<td>Orden No.</td>*@
					<td>
						<input type="hidden" asp-for=OrderId id="orderNo" class="form-control" readonly />
						<span asp-validation-for="OrderId" class="text-danger"></span>
					</td>
					<td>Fecha de creación</td>
					<td>
						<input type="date" asp-for="CreateDate" readonly  class="form-control" />
						
					</td>
				</tr>
				<tr>
					<td>Observaciones</td>
					<td colspan="3">
						<textarea asp-for="Annotations" id="description" class="form-control"></textarea>
					</td>	
				</tr>
			</table>
		<coloriv class="details">
			<h2>Servicios agregados</h2>
			<table class="table table-responsive" id = "lista">
				
				<tr class="mycontainer" id="mainrow">
					<td>
						<label asp-for="ServiceId" class="control-label"></label>
						<select asp-for="ServiceId" asp-items="Model.ServiceTypes" class="form-control st error" id="ServiceId"></select>
						<span asp-validation-for="ServiceId" class="text-danger"></span>
					</td>
					<td>
						<label asp-for="ClothingId" class="control-label" ></label>
						<select asp-for="ClothingId" asp-items="Model.ClothingTypes" class="form-control clothingtype error " id="ClothingId"></select>
						<span asp-validation-for="ClothingId" class="text-danger"></span>
					</td>
					<td>
						<label asp-for="Price" class="control-label">Precio</label>
						<input asp-for="Price" id="price" class="form-control error" readonly />
						<span asp-validation-for="Price" class="text-warning"></span>
					</td>
					<td>
						<label asp-for="Quantity" class="control-label"></label>
						<input asp-for="Quantity" id="quantity" class="form-control error" oninput=calculateTotals()/>
						<span asp-validation-for="Quantity" class="text-warning"></span>
					</td>
					<td>
						<label asp-for="Iva" class="control-label"></label>
						<input asp-for="Iva" id="iva" class="form-control error" readonly/>
						<span asp-validation-for="Iva" class="text-warning"></span>
					</td>
					<td>
						<label asp-for="Subtotal" class="control-label"></label>
						<input asp-for="Subtotal" id="subtotal" class="form-control error" readonly/>
						<span asp-validation-for="Subtotal" class="text-warning"></span>
					</td>
					<td>
						<label asp-for="Total" class="control-label"></label>
						<input asp-for="Total" id="total" class="form-control error" readonly/>
						<span asp-validation-for="Total" class="text-warning"></span>
					</td>

					<td>
						<input type="button" id="add" value="Agregar" style="width:80px;" class="btn btn-success" />
					</td>
					

				</tr>
				<tr>
					<td>
						<label asp-for="ClothingId" class="control-label" ></label>
					</td>
					<td>
						<label asp-for="Quantity" class="control-label" ></label>
					</td>
					<td>
						<label asp-for="Price" class="control-label" ></label>
					</td>
					<td>
						<label asp-for="Subtotal" class="control-label" ></label>
					</td>
					<td>
						<label asp-for="Total" class="control-label" ></label>
					</td>
					
				</tr>
				
			</table>

			<div id="orderitems">
				<table class="table table-responsive" id="orderdetailsItems">
					

				</table>
				<span class="orderItemError" style="color:red;"></span>
				
				<div style="padding:10px 0; text-align:right;">
					<div class = "col-10 text-right" style = "font-weight: bold;font-size:18px; color:seagreen;"id = "topay"></div>
				<input id="submit" type="button" value="Guardar órden" class="btn btn-warning" style="padding:10px 20px;" />
			</div>

			
		</div>
	</form>

		</div>	
	</div>
	
	
	
	<script src="~/js/site2.js"></script>
	
	<style>
		span.error{
			display:block;
			visibility:hidden;
			color:red;
			font-size:90%;
		}
		tr.error{
			background-color:rgba(255,0,0,0.35);
		}
	</style>
	